:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #9a9a9a;
    --dark-mint: #2c7566;
    --very-dark-mint: rgb(32 84 75);
    --mint: #8bd2c4;
    --dark-blue: #145679;
    --dark-grey: rgb(109, 108, 116);
    --yellow: #ffffa3;
    --dark-moderate-cyan: hsl(85, 79%, 69%);
    --light-pink: #FFB6C1FF;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.left-menu {
    width: 20%;
}

.pom {
    width: 50%;
}

.right-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    color: var(--white);
    margin: 0;
}

.nav-link:hover{
    color: var(--black);
}

.nav-link {
    padding: 14px;
    font-size: 22px;
}

.nav-link.contact:hover{
    color: var(--white);
    background: var(--black);
}

.nav-link.contact{
    color: var(--black);
    background: var(--white);
    font-family: 'Fraunces', serif;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

#image-header {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin-top: -104px;
}

.main-heading {
    text-align: center;
    font-size: 65px;
    padding-top: 60px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--white);
}

.middle-arrow {
    margin-top: 5%;
    margin-left: 50%;
    width: 2.2%;
    display: block;
}

.creatives-container {
    height: 813px;
}

.band-container {
    display: flex;
}

.band-left {
    width: 150%;
    text-align: left;
    padding: 150px;
}

.egg-right {
    width: 100%;
    zoom: 1.3;
}

.second-heading {
    font-weight: bold;
    font-size: 48px;
    display: flex;
}


.goblet-left {
    text-align: left;
    display: flex;
    zoom: 1.34;
}

.audience-right {
    width: 150%;
    text-align: left;
    padding: 150px;
    zoom: 0.75;
}

.desc {
    font-size: 22px;
    margin-bottom: 40px;
    color: var(--dark-grey);
}

.learn-more-1:hover {
    color:var(--yellow) ;
}

.learn-more-1 {
    font-weight: bolder;
    font-size: 17px;
    text-decoration: underline var(--yellow) 5px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.learn-more-2:hover {
    color:var(--light-pink) ;
}

.learn-more-2 {
    font-weight: bolder;
    font-size: 17px;
    text-decoration: underline var(--light-pink) 5px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.design-photo-container {
    display: flex;
}

.photography {
    background-image: url("images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 780px;

}

.graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 103%;
    height: 780px
}

.graphic-heading {
    text-align: center;
    font-size: 48px;
    margin-top: 500px;
    color: var(--very-dark-mint);
}

.photography-heading {
    text-align: center;
    font-size: 48px;
    margin-top: 500px;
    color: var(--dark-blue);
}


.desc1 {
    font-size: 22px;
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
    color: var(--very-dark-mint);
}

.desc2 {
    font-size: 22px;
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
}

.client-testamonial-heading {
    text-align: center;
    margin-top: 180px;
    letter-spacing: 8px;
    margin-bottom: 120px;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--grey)
}

.client-container {
    display: flex;
}

.client-card {
    align-content: center;
    margin-bottom: 150px;
}

.client-desc {
    font-size: 25px;
    margin-inline: 100px;
    text-align: center;
    color: var(--dark-grey);
}


.client-card img {
    border-radius: 100%;
    margin-left: 43%;
    height: 20%;
    margin-bottom: 5%
}


.client-name {
    font-size: 20px;
    text-align: center;
}

.client-occupation {
    text-align: center;
    color: var(--grey)
}

.gallery {
    display: flex;
}

.gallery-item img {
    width: 100%;
    display: flex;
}

.main-footer {
    background: var(--mint);
    height: 400px;
}

.main-footer-logo {
    text-align: center;
    padding: 40px;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: var(--dark-mint);
}

.footer-links {
    text-align: center;
    list-style: none;
    display: flex;
    padding-left: 40.5%;
}

.footer-link:hover{
    color: var(--white);
}

.footer-link {
    font-size: 20px;
    margin-inline: 28px;
    color: var(--dark-mint);
    padding-bottom: 50px;
}

.social-icons {
    list-style: none;
    padding-left: 45.5%;
    display: flex;
    letter-spacing: 30px;
    font-size: 30px;
    color: var(--dark-mint);
}

.fa-facebook-official:hover{
    color: var(--white);
}

.fa-instagram:hover{
    color: var(--white);
}

.fa-pinterest:hover{
    color: var(--white);
}

.fa-twitter:hover{
    color: var(--white);
}

.fa-facebook-official{
    color: var(--dark-mint);
}

.fa-instagram{
    color: var(--dark-mint);
}

.fa-pinterest{
    color: var(--dark-mint);
}

.fa-twitter{
    color: var(--dark-mint);
}